.cheese {
    background-color: #42ecf5;
}

.eggs {
    background-color: #42cbf5;
}

.butter {
    background-color: #4287f5;
}

.garlic {
    background-color: #5442f5;
}

.sugar {
    background-color: #9542f5;
}